@import url("colors.css");
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "FontAwesome", "JetBrainsMono Nerd Font", "JetBrainsMono";
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    font-size: 16px;
    background-color: @on_secondary_container;
    color: @on_primary;
    border: 2px solid @on_secondary_fixed_variant;
}

#window {
    font-size: 18px;
}

@keyframes workspace-active-animation {
    0% {
        box-shadow: inset 0 -3px @primary_container;
    }
    50% {
        box-shadow: inset 0 -6px @primary_container;
    }
    100% {
        box-shadow: inset 0 -3px @primary_container;
    }
}

#workspaces {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: 260px;
    border: 1px solid #4a5353;
    color: @on_surface_variant;
    background-color: @outline;
    box-shadow:
        inset 2px -2px 0px 0px #cccac2,
        inset -2px 2px 0px 0px #e5dfd3;
}

#workspaces button {
    padding: 4px 6px;
    margin: 1px 1px;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
    background-color: @primary_fixed_dim;
    color: @on_primary_fixed;
}

#workspaces button.active {
    transition: all 0.2s ease-in-out;
    background-color: @primary_container;
    color: @on_primary_container;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#custom-notification,
#custom-power-menu,
#custom-hypridle,
#network {
    font-size: 14px;
    background-color: @outline;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #4a5353;
    box-shadow:
        inset 2px -2px 0px 0px #cccac2,
        inset -2px 2px 0px 0px #e5dfd3;
}

#network,
#pulseaudio,
#tray,
#cpu,
#memory,
#custom-hypridle,
#custom-notification {
    padding: 0px 10px;
}

#clock {
    font-size: 14px;
    color: @on_primary;
}

#pulseaudio {
    padding: 0px 6px;
    border-top: none;
    box-shadow:
        inset 2px -2px 0px 0px #cccac2,
        inset -2px 0px 0px 0px #e5dfd3;
}

#custom-power-menu {
    /*error_container variable from colors.css*/
    color: @error_container;
    padding: 0px 6px;
}
